# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.o
*.pyd
*.so
*.egg-info/

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.db
*.sqlite3

# IDEs and editors
.idea/
.vscode/
*.swp
*~
